<!doctype html>
<html class="no-js" lang="en">
<head>
  <meta charset="utf-8">

  <title>Tramway</title>

  <meta name="viewport" content="width=device-width, initial-scale=1.0">
  <meta name="description" content="">
  <meta name="author" content="">
  <link rel="shortcut icon" href="/static/favicon.ico">

  <link rel="stylesheet" href="/static/css/bootstrap.css">
  <link rel="stylesheet" href="/static/css/custom.css">
  <link rel="stylesheet" href="/static/css/bootstrap-responsive.css">
</head>


<body>

<div class="container-fluid">
 <div id="main" role="main">


 FlakyPastry | <a href="https://github.com/dborzov/FlakyPastry">github</a> | <a href="http://dimaborzov.com/flaky.html">what for</a> | tutorial&nbsp;&nbsp;

  <div class="jumbotron">
<form class="form-search">
  <input type="text" id="dima-query" class="input-large search-query">
  <a type="submit" id="button-prompt" class="btn">go!</a>
</form>
    <div id="dimasscreen">
        <div class="row-fluid"><div class="span2">&nbsp;</div><div class="span8 hero-unit"><p class="lead text-center">Type in commands here...</div><div class="span2">&nbsp;</div></div>
    </div>

    <br><br>
    <img src="/static/img/gav2.jpg" width="200">
  </div>

 </div>
</div>


  <script src="//ajax.googleapis.com/ajax/libs/jquery/1.7.1/jquery.min.js"></script>
  <script src="/static/js/bootstrap.min.js"></script>
  <script src="/static/js/mustache.js"></script>
  <script src="/static/js/custom.js"></script>


</body>
</html>
